/* .enterBut{
    border-radius: 50px;
    position:fixed;
    margin-top: 50px;
    margin-left: 550px;
    height: 30px;
    width: 150px;
    font-size: large;
    background-color: rgb(155, 183, 184);
    border-color: rgb(246, 161, 185);
    border-bottom-color: rgb(246, 161, 185);
    border-top-color: rgb(246, 161, 185);
    border-left-color: rgb(246, 161, 185);
    border-right-color: rgb(246, 161, 185);
}
.nameGame{
    margin-top: 50px;
    text-align: center;
    color:red;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.background{
  height:550px;
  width: 1260px;
  padding: none;
  padding-left: 0%;
  margin: 0%;
background-color: rgb(186, 167, 177);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6CD9CE;
  --secondary-color: #D93BA1;
  --complimentary-color: #2E2473;
}
.img{
  width: 80%;
  height: 100%;
  position: absolute;
  opacity: 20%;
}
.container {

  min-height: 100vh;
  position: relative;
  width: 100vw;
  display: flex;
  background-color:antiquewhite;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 position: relative;
}

h1 {
  
  font-size: 150px;
  color:#D93BA1;
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}


.overlay {
  margin-top: 30px;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    transform: scale(.3);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(-90px);
    opacity: 1;
  }
}