.img {
  width: 80%;
  height: 100%;
  position: absolute;
  opacity: 20%;
}

.btn_start{
  font-size: larger;
  background-color: green;
  color: white;
  border-radius: 50px;
  border-color: aliceblue;
  width: 200px;
  height: 50px;
  text-align: center;
}
.start{
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-280%, 350%);
}
.container {
  position:fixed;
  min-height: 100vh;
  /* position: relative; */
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}