table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 70px;
}

th,
td {
    text-align: left;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

i {
    font-size: 50px;
}

#icon_title {
    font-family: 'Black Ops One', cursive;
    /* padding-left: 500px; */
    font-size: 40px;
    margin-top: 20px;
}

.img {
    top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 30%;

}

#button {
    font-size: 16px;
    color: #eee;
    position: absolute;
    width: 50px;
    padding: 15px;
    top: 500px;
    left: 1220px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgb(199, 80, 100);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 90%;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

#button.fade:hover {
    opacity: 60%;
}

#tor {
    display: inline-block;
    /* justify-content: space-between; */
    padding-right: 50px;

}

#my_answer {
    font-family: 'Black Ops One', cursive;
    /* padding-left: 500px; */
    color: red;
    font-size: 40px;
    margin-top: 20px;


    /* word-spacing: 20px; */
}

#correct_answer {
    font-family: 'Black Ops One', cursive;
    color: green;
    font-size: 40px;
    margin-top: 20px;
}

.btn:link,
.btn:visited {
    font-family: 'Black Ops One', cursive;
    width: 200px;
    height: 40px;
    top: 80%;
    font-size: 20px;
    background-color: #91def7;
    left: 43%;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 15px;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    color: white;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #91def7;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}