#mistakes{
    margin-left:30px;
    margin-top: 60px;
    font-size: larger;
    background-color: red;
    color: white;
    border-radius: 50px;
    border-color: aliceblue;
    width: 200px;
    height: 50px;
    text-align: center;
    display: inline-block; 
}
#play_again{
    display: inline-block; 
    margin-left:30px;
    margin-top: 60px;
    font-size: larger;
    background-color: green;
    color: white;
    border-radius: 50px;
    border-color: aliceblue;
    width: 200px;
    height: 50px;
    text-align: center;
}

@-webkit-keyframes animacao1 {
    0% {
        background: #D62623;
    }

    50% {
        background: #EE3430;
    }

    100% {
        background: #FB3733;
    }
}

@-moz-keyframes animacao1 {
    0% {
        background: #D62623;
        background: #424141;
    }

    50% {
        background: #EE3430;
        background: #363535;
    }

    100% {
        background: #FB3733;
        background: #4f4d4d;
    }
}

@keyframes animacao1 {
    0% {
        background: #D62623;
        background: #424141;

    }

    50% {
        background: #EE3430;
        background: #363535;
    }

    100% {
        background: #FB3733;
        background: #4f4d4d;
    }
}
/* 
body {
    background: #ebeded;
} */

#tudo {
    opacity: 60%;
    text-align: center;
    position: fixed;
    width: 750px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-left: 280px;
    border-radius: 40px;
    -webkit-animation-name: animacao1;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    -moz-animation-name: animacao1;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;

    animation-name: animacao1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.gameover {
    width: 750px;
    height: auto;
    padding-top: 60px;
    background: none;
    
}

.gameover p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 160px;
    font-family: 'Black Ops One', cursive;
    line-height: 120px;
    text-align: center;
    text-shadow: 5px 5px #000000;
    color: #ffffff;
}

.opcoes {
    width: 550px;
    height: auto;
    padding-top: 50px;
    margin: auto;
  

}

.yes a {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: corbel;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2.5px 2.5px #000000;
    width: 200px;
    height: 50px;
    /* padding: 10px 50px 15px 50px; */
    border: 1px solid green;
    border-radius: 20px;
    background: green;
    float: left;
}

.yes1 a {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: corbel;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2.5px 2.5px #000000;
    width: 200px;
    height: 50px;
    /* padding: 10px 50px 15px 50px; */
    border: 1px solid red;
    border-radius: 20px;
    background: red;
    float: left;
}



@-webkit-keyframes animacao2 {
    from {
        -webkit-transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.2);
    }
}

@-moz-keyframes animacao2 {
    from {
        -moz-transform: scale(1);
    }

    to {
        -moz-transform: scale(1.1);
    }
}

@keyframes animacao2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


.yes a:hover {
    -webkit-animation-name: animacao2;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    -moz-animation-name: animacao2;
    -moz-animation-duration: 0.8s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;

    animation-name: animacao2;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.yes1 a:hover {
    -webkit-animation-name: animacao2;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    -moz-animation-name: animacao2;
    -moz-animation-duration: 0.8s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;

    animation-name: animacao2;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 



.img {
    top:0%;
    width: 100%;
    height: 100%;
    position:absolute;
    opacity: 30%;
    /* background-repeat: repeat-x; */
  }
  /* .tor{
    
  } */


  #button {
    font-size: 16px;
    color: #eee;
    position: absolute;
    width: 50px;
    padding: 15px;
    top:468px;
    left:935px;
    border: none;
    border-radius: 2px;
    outline: none;
    opacity: 90%;
    background: rgb(199, 80, 100);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.4s ease-out;
  }
  
#button.fade:hover {
    opacity: 60%;
}
