div,
p,
a,
li{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased !important;
}

body {
    min-width: 100% !important;
    Margin: 0 auto !important;
    padding: 0;
    background-color: #dedede;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #webkit-only {
        display: inline !important;
        max-height: none !important;
    }

    .fontnorm {
        font-style: normal !important;
        font-size: 58px !important;
    }
}

    @media screen and (max-width: 480px) {
        *[class=hide] {
            display: none !important;
        }

        .responsive_table {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    
    

    @media screen and (-webkit-min-device-pixel-ratio: 0) {

        * {
            margin: 0;
            padding: 0;
            font-size: 12px;
            line-height: 1.2;
        }


        body {
            height: 400px;
            overflow: scroll;
        }

        .soniclogo {
            background-image: url("https://kristianrobinson.co.uk/sonic/3_full_sonic_fallback/imgs/sonic_title.png");
            position: relative;
            top: 60px;
            width: 0px;
            height: 0px;
            overflow: hidden;
            animation: soniclogo 3.5s;
        }

        @keyframes soniclogo {
            0% {
                opacity: 0;
                transform: translateY(-50px);
                height: 166px;
                width: 320px;
            }

            35% {
                opacity: 1;
                transform: translateY(0);
            }

            50% {
                opacity: 1;
                transform: translateY(0);
            }

            85% {
                opacity: 1;
                transform: translateY(0);
            }

            100% {
                opacity: 0;
                transform: translateY(-200px);
                height: 166px;
                width: 320px;
            }
        }


        

    }

